<div class="info-left">
<div class="info-left-box">
  <header>
  </header>
  <iframe src="<%= Rails.configuration.landing_page_iframe_link %>" style="min-height: 600px; border: none; width: 100%;"></iframe>
</div>
</div>